<head>
    <meta http-equiv="cache-control" content="no-cache"/>  <!-- Specifies how the browser should cache the page -->
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
</style>

<body>
    <div class="content-wrapper">
		<div class="content">
			<h1>Solving the quadratic equation</h1>
			<div class="helper"><h3>Input a, b, c</h3></div>
			<form>
				<input type="text" name="a" placeholder="a" maxlength="10">
				<span>x<sup>2 + </span>
				<input type="text" name="b" placeholder="b" maxlength="10">
				<span>x + </span>
				<input type="text" name="c" placeholder="c" maxlength="10">
				<span> = 0</span>
				<div>
				<input type="submit" name="" value="Find answers" id="submit">
				</div>
			</form>
			<div class="result-wrapper">
			</div>
		</div>
	</div>
	<script src="../static/js/index.js"></script>
</body>
</html>
